@import 'tailwindcss';

@layer base {
  :root {
    --background: #e3dfd5;
    --foreground: #303030;
    --background-light: #bdbbb3;
    --foreground-light: #52514e;

    --github-icon-color: #181717;
    --email-background: #fefefe;
    --contact-background: #ffa51453;
    --projects-grid-background-background: #c4c2bb;

    --blob-accent-1: #ff6f00;

    --svg-accent-1: #ff9500ba;
    --svg-accent-2: #ff0000c3;

    --grid-color: #8a8a8a;

    --header-size: 62px;
    --marquee-size: 80px;
  }

  .dark {
    --background: #303030;
    --foreground: #e3dfd5;
    --background-light: #52514e;
    --foreground-light: #bdbbb3;

    --github-icon-color: #ffffff;
    --email-background: #303030;
    --contact-background: #bcbcbc76;
    --projects-grid-background-background: #8a8a8a;

    --blob-accent-1: #c4c2bb;

    --grid-color: #8a8a8a;

    --svg-accent-1: #f7dab1;
    --svg-accent-2: #8f8f8f;
  }

  html {
    background-color: var(--background);
    height: auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    min-height: 100%;
  }

  body {
    @apply font-sans antialiased;
    color: var(--foreground);
    min-height: 100%;
    height: auto;
  }

  nav,
  a,
  button {
    color: var(--foreground);
  }

  button {
    cursor: pointer;
  }

  .github-link:hover .github-logo {
    color: var(--github-icon-color);
  }

  .linkedin-link:hover .linkedin-logo {
    color: #0077b7;
  }

  .whatsapp-link:hover .whatsapp-logo {
    color: #25d366;
  }

  .cursor-parent {
    anchor-name: --cursor-parent;
  }
  .cursor-child {
    position-anchor: --cursor-parent;
    position-try: flip-block;
    bottom: anchor(top);
    left: anchor(center);
  }

  /* .pt-header {
    padding-top: 62px;
    @media (width >= 64rem) {
      padding-top: 112px;
    }
  } */

  /* .hero-padding {
    padding-top: 62px;
    @media (width >= 64rem) {
      padding-top: 112px;
    }
  } */

  .project-padding {
    padding-top: calc(62px + 1rem);
    @media (width >= 64rem) {
      padding-top: calc(112px + 5rem);
    }
  }

  /* *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border-radius: 14px;
    border: 2px solid var(--background);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: orange;
  } */
}

@media (min-width: 64rem) {
  :root {
    --header-size: 112px;
    --marquee-size: 90px;
  }
}

@theme {
  --font-goia: var(--font-goia);
  --font-goia-display: var(--font-goia-display);
  --color-beige: #e3dfd5;
  --color-grey: #303030;
  --color-orange: #ff9500;
  --color-email-background: var(--email-background);
  --color-contact-background: var(--contact-background);
  --color-projects-grid-background: var(--projects-grid-background-background);

  --color-blob-accent-1: var(--blob-accent-1);

  --color-svg-accent-1: var(--svg-accent-1);
  --color-svg-accent-2: var(--svg-accent-2);

  --color-grid-color: var(--grid-color);

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --breakpoint-fhd: 120rem;
  --breakpoint-qhd: 160rem;

  --spacing-header: var(--header-size);
  --spacing-marquee: var(--marquee-size);

  --shadow-elevated: 8px 8px 0 0 var(--foreground), 0 0 0 3px var(--foreground);
  --shadow-elevated-hover:
    0px 0px 0 0 var(--foreground), 0 0 0 3px var(--foreground);
  --shadow-elevated-active:
    2px 2px 0 0 var(--foreground), 0 0 0 3px var(--foreground);
}

@theme inline {
  --font-sans: var(--font-goia);
  --font-display: var(--font-goia-display);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-background-light: var(--background-light);
}

/* @layer utilities {
  .clip-bottom-ellipse {
    clip-path: ellipse(70% 10% at 50% 100%);
    -webkit-clip-path: ellipse(70% 10% at 50% 100%);
    @media (width >= 64rem) {
      clip-path: ellipse(70% 20% at 50% 100%);
      -webkit-clip-path: ellipse(70% 20% at 50% 100%);
    }
  }
} */

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @variant sm {
    @media (width >= 40rem) {
      max-width: 40rem;
      &&:after {
        content: 'sm';
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }

  @variant md {
    @media (width >= 48rem) {
      max-width: 48rem;
      &&:after {
        content: 'md';
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }

  @variant lg {
    @media (width >= 64rem) {
      max-width: 64rem;
      &&:after {
        content: 'lg';
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }

  @variant xl {
    @media (width >= 80rem) {
      max-width: 80rem;
      &&:after {
        content: 'xl';
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }

  @variant 2xl {
    @media (width >= 96rem) {
      max-width: 96rem;
      &&:after {
        content: '2xl';
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }

  @variant fhd {
    @media (width >= 120rem) {
      max-width: 120rem;
      padding-left: 8rem;
      padding-right: 8rem;
      &&:after {
        content: 'fhd';
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
  @variant qhd {
    @media (width >= 160rem) {
      max-width: 160rem;
      padding-left: 18rem;
      padding-right: 18rem;
      &&:after {
        content: 'qhd';
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
}
