@import 'tailwindcss';

@layer base {
  :root {
    --background: #e3dfd5;
    --foreground: #303030;
  }

  .dark {
    --background: #303030;
    --foreground: #e3dfd5;
  }

  html {
    background-color: var(--background);
    height: auto;
    overflow-x: hidden;
  }

  body {
    @apply font-sans antialiased;
    color: var(--foreground);
    height: auto;
  }

  nav,
  a,
  button {
    color: var(--foreground);
  }

  button {
    cursor: pointer;
  }
}

@theme {
  --font-goia: var(--font-goia);
  --font-goia-display: var(--font-goia-display);
  --color-beige: #e3dfd5;
  --color-grey: #303030;
}

@theme inline {
  --font-sans: var(--font-goia);
  --font-display: var(--font-goia-display);
}
